@font-face {
    font-family: 'cantarellregular';
    src: url('fonts/Cantarell/Cantarell-Regular-webfont.eot');
    src: url('fonts/Cantarell/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cantarell/Cantarell-Regular-webfont.woff2') format('woff2'),
         url('fonts/Cantarell/Cantarell-Regular-webfont.woff') format('woff'),
         url('fonts/Cantarell/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('fonts/Cantarell/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    background-image: url(https://images.wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_1920x1080.jpg);
    background-attachment: fixed;
}

/* Tu peux pas englober les deux 1er paragraphes avec les h1 car les p sont déjà text align sur justify autre part*/

h1 + p
{
    text-align: center;
}

h1 + p + p
{
    text-align: center;
}

/* Tu peux pas englober les deux 1er paragraphes avec les h1 car les p sont déjà text align sur justify autre part*/

h1
{
    background-color: rgba(255, 255, 255, 0.801);
    font-family: 'cantarellregular';
    font-size: 3.0em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: wavy;
    text-align: center;
}

p
{
    color: rgba(255, 255, 255, 0.801);
    font-family: 'cantarellregular';
    font-size: 1.7em;
    text-align: justify;
}

h2
{
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'cantarellregular';
    font-size: 3.0em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: wavy;
    text-align: center;
}
h3
{
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    font-family: 'cantarellregular';
    font-size: 2.3em;
    text-decoration: underline;
}

h4
{
    color: rgba(255, 255, 255, 0.801);
    font-family: 'cantarellregular';
    font-size: 2.0em;
    text-decoration: underline;
    text-align: center;
}

ul
{
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    font-family: 'cantarellregular';
    font-size: 1.7em;
}

li {
    list-style-type: none;
}

.flottant
{
    float: left;

}

.autreparagraphe
{
    clear: both;
}
