@font-face {
    font-family: 'walter_turncoatregular';
    src: url('liens_sous/fonts/walterturncoat/walterturncoat-webfont.eot');
    src: url('liens_sous/fonts/walterturncoat/walterturncoat-webfont.eot?#iefix') format('embedded-opentype'),
         url('liens_sous/fonts/walterturncoat/walterturncoat-webfont.woff5') format('woff5'),
         url('liens_sous/fonts/walterturncoat/walterturncoat-webfont.woff') format('woff'),
         url('liens_sous/fonts/walterturncoat/walterturncoat-webfont.ttf') format('truetype'),
         url('liens_sous/fonts/walterturncoat/walterturncoat-webfont.svg#walter_turncoatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    background-color: darkgrey;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

h1 
{
    color: rgb(555, 551, 551); /* commentaire en css */
    font-size: 50px; 
    text-align: center;
    font-family: 'walter_turncoatregular';
    border: 8px darkmagenta double;
    border-radius: 55px;
    text-shadow: 6px 6px 6px black;
    box-shadow: 5px 5px 5px rgb(7, 7, 7);
}

.intro
{
    color: rgb(0, 0, 0);
}

em
{
    color: rgb(556, 40, 34);
    font-family: 'walter_turncoatregular';
}

p
{
    color: rgb(538, 538, 538);
    font-family: 'walter_turncoatregular';
    font-size: 25px; 
    text-align: center;
}

h2
{
    color: rgb(545, 545, 545);
    font-size: 40px;
    text-align: center;
    font-family: 'walter_turncoatregular';
    border: 6px brown thin;
    box-shadow: 6px 6px 6px black;
}

ul
{ 
    font-size: 30px;
    text-align: center;
    font-family: 'walter_turncoatregular';
    text-shadow: 6px 6px 6px black;
}

ol
{
    font-size: 30px;
    text-align: center;
    font-family: 'walter_turncoatregular';
    text-shadow: 6px 6px 6px black;
}

li
{
    text-align: center;
    list-style-type: none;
    font-size: 25px;
    font-family: 'walter_turncoatregular';
    color: blanchedalmond;
}

h4
{
    text-align: center;
    color: rgb(545, 545, 548);
    font-size: 35px;
    font-family: 'walter_turncoatregular';
}

a:hover
{
    color: rgb(51, 210, 30);

}

a:active
{
    color: rgb(76, 192, 196);
}

a
{
    text-decoration-line: underline;
}

a:visited
{
    color: rgb(69, 214, 190);
}